@media (min-width:601px)
{
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.div1
{
    height: 50px;
    width: 100%;
    /* display: flex; */
    position: sticky;
    top: 0;
    background-color: white;
}
.subd1
{
    height: 50px;
    width: 15%;
    float: left;
}
.subd1 img
{
    height: 50px;
    width: 100%;
    padding: 0 5px;
}
.subd2
{
    height: 50px;
    width: auto;
    margin: 0;
    float: left;
}
.ul1
{
    width: 50%;
    padding: 0; 
    margin: 0;
    display: inline;
}
.li1
{
    height: 50px;
    float: left;
    font-size: 14px;
}
.li1 a
{
    color: black;
    padding: 17px;
    line-height: 50px;
}
.li1:hover a
{
    color: white;
    background-color: blue;
}
.subd3
{
    float: right;
    height: 50px;
    width: auto;
    margin: 0;
}
.ul2
{
    padding: 0; 
    margin: 0;
}
.li2
{
    height: 50px;
    float: left;
    font-size: 14px;
}
.li2 a
{
    color: gray;
    padding: 17px;
    line-height: 50px;
}
.li2:hover a
{
    color: black;
}
.div2 img
{
    width: 100%;
    object-fit: cover;
    display: flex;
}
.div2 a
{
    position: relative;
}
.div2 figcaption
{
    /* display: flex; */
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px 10px white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    max-width: 100%;
}
.div11
{
    margin-top: 0;
    width: 100%;
    background-color:black;
    display: flex;
}
.table2
{
    width: 100%;
    text-align: left;
}
.tr2,.tr3
{
    height: 30px;
    color: gray;
}
.tr2 img
{
    width: 80%;
    background-size: cover;
    padding-left: 20px;
}
.tr2 a
{
    color: grey;
    padding-left: 10px;
}
.tr2 a:hover
{
    color: white;
}
.tr3 a
{
    padding-left: 10px;
    color: white;
}
}